body{
   margin: 0; 
   font-family: Arial, Helvetica, sans-serif;
   background-color: aqua;
}

header{
    background-color: rgb(244, 68, 29);
    width: 100%;
    height: 6vh;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

header a{
    color: rgb(255, 255, 255);
    font-size: 1.8vh;
    margin-top: 0.2vh;
    margin-right: 1.9vw;
    font-family: Arial, Helvetica, sans-serif;
    text-decoration: none;
    margin-bottom: 2vh;
  
}

header section{
    width: 7vw;
    height: 6vh;
    display: flex;
    flex-direction: row;
    justify-content: end;
    align-items: center;
   


}
header section img{
    width: 2.5vw;
    height: 4.5vh;
    margin-left: 3vw;
}

header section p{
    color: rgb(255, 255, 255);
    font-size: 3vh;
}

nav{
   
    background-color: rgb(251, 119, 48);
    width: 100%;
    height: 4vh;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
} 

nav section a{
    text-decoration: none;
    color: rgb(255, 255, 255);
    margin-left: 2vw;
    font-size: 0.9vw;
    font-family: Arial, Helvetica, sans-serif;

}




#p1{
    text-transform: uppercase;
    color: rgb(244, 68, 29);
    margin-top: 2vh;
    font-family: Arial, Helvetica, sans-serif;
    margin-top: 3.5vh;

}



#hr-hm{
    width: 87vw;         
  border-top: 2px solid rgb(244, 68, 29);
  margin-left: 6.3vw;
  
}


.tela{
    width: 90vw;
    height: 85vh; 
    display: flex;
    flex-wrap: wrap;
    gap: 0px 50px;
    justify-content: center;
    align-content: flex-start;
    row-gap: 0px; 
    background-color: rgb(255, 255, 255);
    margin-left: 4.5vw;
}

#prod{
    width: 90vw;
    height: 4vh;
    margin-left: 4.5vw;
    background-color: rgb(255, 255, 255);
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    
}

.camisavt{
    width: 15vw;
    height: 40vh;
    border: 2.5px solid rgb(240, 240, 240);
    border-radius: 8px;
    margin-top: 1.5vh;
    display: flex;
    flex-wrap: wrap;
}

#selected{
    border: 2.5px solid rgb(244, 68, 29);

}

.descricao{
    width: 7vw;
    height: 7vh;
    margin-left: 0.4vw;
    margin-top: 1.8vh;
}

.vtr{
    width: 15vw;
    height: 12vh;
}

#p-hm{
     margin-top: 0.2vw;
    font-size: 18px; 
    color: rgb(120, 120, 120);
    margin-left: 0.5vw;
}

.tela section b{
    font-size: 18px; 
    margin-left: 0.5vw;

}

#p-preco{

    font-size: 20px; 
    color: rgb(251, 130, 123);
    margin-left: 0.8vw;
}

#qtd{
    margin-left: 3.7vw;
    font-size: 15px; 
    color: rgb(209, 204, 201);
}

#fabd{
    font-size: 15px; 
    color: rgb(209, 204, 201);

}

#dscrc{
    font-size: 15px; 
    color: rgb(209, 204, 201);

}