body{
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
}


footer{
    width: 100%;
    background-color: rgb(245, 245, 245);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center; /* centraliza o conteúdo interno */
}


.container-footer{
    width: 100%;
    max-width: 1100px;

    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(180px, 1fr));

    gap: 35px;
    padding: 30px 20px;
    padding-bottom: 0;
}


footer section{
    width: 100%;
}


.h1-rdp{
    font-size: 16px;
    margin-bottom: 10px;
    color: black;
}


.p-rdp {
    font-size: 14px;
    color: rgb(120, 120, 120);
    margin: 5px 0;
}

/* LINHA */
#hr-rdp {
  width: 100%;
  border: none;
  border-top: 1px solid rgb(150, 150, 150);
  margin: 20px 0;
  grid-column: 1 / -1;
}

/* IMAGENS */
.imgpg{
    width: 100%;
    max-width: 180px;
}

.icon{
    width: 18px;
    height: 18px;
    margin-right: 5px;
}

.qr{
    width: 80px;
}

.stre{
    width: 120px;
    margin-top: 5px;
}