body{
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
}




footer{
    width: 100%;
    height: 50vh;
    background-color: rgb(245, 245, 245);
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 50px;
    align-items: center;
    padding-top: 4vh;
    margin-top: 60%;
}

<<<<<<< HEAD
.p-rdp{
=======
#p{
>>>>>>> dfb87eaeb663b678419aa93ab321ae2422fb305a
    font-size: 15px;
    line-height: 0.5;
    color: rgb(120, 120, 120);
}

h1{
    font-size: 15px;
    line-height: 1;
    color: rgb(0, 0, 0);
}

<<<<<<< HEAD
#hr-rdp {
  width: 86.3vw;          /* Obriga a linha a ocupar a largura toda */
=======
hr {
  width: 90.3vw;          /* Obriga a linha a ocupar a largura toda */
>>>>>>> dfb87eaeb663b678419aa93ab321ae2422fb305a
  border: 0;
  border-top: 1px solid rgb(150, 150, 150);
  margin-bottom: -80px;
 
}

footer section{
    width: 15vw;
    height: 23.4vh;
    
   
      
}

.imgpg{
    width: 13vw;
    height: 10vh;
}

.icon
{
    width: 1.9vw;
    height: 2.5vh;

}

.qr{
    width: 4.1vw;
    height: 7.5vh;

}

.stre{
    width: 6vw;
    height: 5vh;

}
